* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    background-color: yellow;
}

div{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

   
}

.o{
    display: flex;
    margin-top: 85px;
    
}

.aris{
    display: flex;
    
}


.aris {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  letter-spacing: -1.5px;
  word-spacing: -5px;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
}


.o {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  letter-spacing: -2px;
  word-spacing: -5px;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
}

h1 {
  color: rgb(0, 0, 0); 
  -webkit-text-stroke: 3px rgb(252, 252, 252); 
}