*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#edf2ff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:650px;
    display:flex;
    background:white;
    border-radius:20px;
    overflow:hidden;
}

.left{
    width:50%;
    background:linear-gradient(#6a4cff,#312cea);
    color:white;
    text-align:center;
    padding:40px 30px;
}

.left h3{
    color:#d8d3ff;
}

.circle{
    width:170px;
    height:170px;
    background:#4428d8;
    border-radius:50%;
    margin:30px auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.circle h1{
    font-size:60px;
}

.circle p{
    color:#c7c1ff;
}

.left h2{
    margin-bottom:20px;
}

.text{
    color:#d8d3ff;
    line-height:25px;
}

.right{
    width:50%;
    padding:35px;
}

.right h2{
    margin-bottom:25px;
}

.box{
    display:flex;
    justify-content:space-between;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
}

.reaction{
    background:#fff1f1;
    color:#ff5555;
}

.memory{
    background:#fff9e8;
    color:#ffb300;
}

.verbal{
    background:#ebfff8;
    color:#00b894;
}

.visual{
    background:#f2f2ff;
    color:#4b4bff;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:30px;
    background:#2f3a5d;
    color:white;
    font-size:18px;
    margin-top:20px;
    cursor:pointer;
}

button:hover{
    background:#1f2845;
}