.heading{
    color: white;
    background-color: black;
    width: 100px;
    text-align: center;
    font-size: medium;



}
.info{

    font-family: Arial, sans-serif;
    font-size: large;
    background-color: rgb(242, 0, 0);
    width: 200px;


}
img{
    width: 20%;




}