
/* 1.position გამოიყენება იმისთვის
რომ ელემენტის მდებარეობა ვმართოთ */

/* 2. postion მნიშვნელობებია

static
relative
absoulte
fixed
sticky */

/* 
3. static
ნაგულისხმევი მნიშვნელობა
ელემენტი ჩვეულებრივ ადგილზეა
და top.left.right bottom არ მოქმედებს */

/* 4. relative

ელემენტი რჩება თავის ადგილას
მაგრამ შეგვიძლია გადავააგილოთ
top , left , right , bottom ით */

/* 5. absolute
ელემენტი გამოდის ჩვეულებრივ განლაგებიდან
მისი მდებარეობა განისაზღვრება უახლოესი  relative მშობლის მიმართ */

/* 6. fixed
ელემენტი ეკრანზე ფიქსირდება
სქროლის დროსაც არ მოძრაობს */

/* 7. sticky
თავიდან ჩვეულებრივ იქცევა
ხოლო სქროლის დროს მითითებულ ადგილას ეკრობა */

8. განსხვავება  absolute  და fixed შორის
absolute 
მოძრაობს გვერდთან ერთად 
და დამოკიდებულია relative მშობელზე

fixed
ყოველთვის ეკრანზე რჩება და სქროლისას არ მოძრაობს

b{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: white;
    
}
