h1{
    text-align: center;
}

body{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}
form{
    
    width: 200px;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

