
header {
    height: 60px;
    background-color: steelblue;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    height: 50px;
    background-color: gray;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 60px;
}


main {
    margin-top: 110px; 
    padding: 20px;
}