.card {
    position: relative;
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 30px;

    background-color: red;
    border-radius: 50%;
}