* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoper{
    display: flex;
    align-items: flex-start;
    
    
}

.jone{
    display: flex;
    
}


h2{
    display: flex;
    align-items: flex-start;
    
}


.sedans {
    padding-top: 20px;
    border: 6px  solid hsl(31, 77%, 52%); 
    padding-right: 20px;
    padding-bottom: 30px;
    background-color:hsl(31, 77%, 52%) ;
    border-top-left-radius:8px ;
    border-bottom-left-radius:8px ;
    padding-left: 20px;
    box-shadow: 0 10px 30px rgb(0, 0, 0 ,0.568);

}


.suvs {
    padding-top: 20px;
    border: 6px solid hsl(184, 100%, 22%);
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    background-color: hsl(184, 100%, 22%);
    box-shadow: 0 10px 30px rgb(0, 0, 0 ,0.568);

}
.luxury {
    padding-top: 20px;
    border: 6px solid hsl(179, 100%, 13%);
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px ;
    padding-left: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.568);

}

.Lsedans, .Lsuvs, .Lluxury {
    background-color: white; 
    display: inline-block;   
    padding: 10px 12px;  
    transition: all 0.2s ease; 
    border: 2px solid white; 
    border-radius: 19px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);

}


.Lsedans  {
     color: hsl(31, 77%, 52%); 
}
.Lsuvs  { 
    color: hsl(184, 100%, 22%);
}
.Lluxury { 
    color: hsl(179, 100%, 13%);
}

.Lsedans:hover, .Lsuvs:hover, .Lluxury:hover {
    background-color: transparent;
    color: white;
}

p{
    font-weight: normal;
}





